.App {
  text-align: center;
}

.header{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  height: 12vh;
}


.trump-bird{
  height: 70px;
  width: auto;
  top: 10px;
  left: 20px;
  position: absolute;
}



.grid-container{
  padding-left:2vw;
  width: 90vw;
  display: grid;
  grid-column-gap: 15px;
  margin: 1%;
}

.desc{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight: 450;

  font-size: 16px;
  text-align: left;
}

.left-panel{
  height: 100%;
  /* width: 250px; */
  width:20vw;
  grid-column-start: 1;

}



.acc{

  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight: 450;

  font-size: 22px;

}

.tweet-container{
  margin-left: 2%;
  height: 100%;
  width:50vw;
  /* width: 95%; */
  grid-column-start: 2;
  grid-column-end: 4;

}

.right-panel{
  height: 100%;
  width:20vw;

  /* width: 95%; */
  grid-column-start: 4;
}


.reload-button{
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
  font-weight: 600;
  color:white;
  background-color: #1DA1F2;
  font-size: 20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 30px;
  outline: none;

}

.reload-button:hover{
  background-color: lightsteelblue;
}


