.tweetBox{
    margin-bottom: 2%;
    padding: 1%;
    background-color: lightgray;
    width: 98%;
    height: auto;
    border-radius: 5px;
}




.avatar{
    height: 60px;
    width: auto;
    border-radius: 50px;
    float: left;
    position: relative;
    margin: 5px;
}


.tweetText{
    font-size: 20px;
    margin: 5%;
    padding-left:50px;
}